.undo-icon svg {
    font-size: 20px;
    margin-bottom: 3px;
}

.pagination {
    display: flex;
    list-style: none;
}

.pagination li {
    min-width: 50px;
}

.pagination li a {
    display: block;
    padding: 9px 11px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.pagination li:hover {
    cursor: pointer;
}

.previous a:hover, 
.next a:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-color);
}

.pagination li.active a {
    color: #fff;
    background-color: var(--primary-color);
}

.previous {
    width: 100px;
}

.previous.disabled a{
    color: rgba(0, 0, 0, 0.15);
}

.previous.disabled a:hover {
    cursor: text;
    color: rgba(0, 0, 0, 0.15);
    background-color: transparent;
}

.next {
    width: 100px;
}

.next.disabled a {
    color: rgba(0, 0, 0, 0.15);
}

.next.disabled a:hover {
    cursor: text;
    color: rgba(0, 0, 0, 0.15);
    background-color: transparent;
}

.table-header span{
    margin-right: 5px;
}

.table-header:hover {
    cursor: pointer;
}

.ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, 0.25) !important;
}

.modal-wrapper {
    width: 350px;
    min-height: 200px;
    position: relative;
    padding: 0px 10px;
}

.modal-close-btn {
    position: absolute;
    top: -14px;
    right: -18px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
}

.modal-close-btn:hover {
    cursor: pointer;
}

.modal-header h2{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 20px;
}

.modal-body {
    margin-top: 20px;
    padding-bottom: 30px;
}

.body-row {
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.row-title {
    font-weight: 500;
    color: #777E88;
    font-size: 15px;
}

.row-value {
    font-size: 15px;
}

#tr-hover:hover {
    cursor: pointer;
}