@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  /* --- Color --- */
  --primary-color: #003147;
  --secondary-color: #005983;
  --white: #fff;
  --white-gray: #f5f5f5;

  /* --- Width --- */
  --nav-width: 320px;
  --icon-field-size: 60px;

  /* --- Font size --- */
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}

/* --- Base --- */
*,
::before,
::after {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}
.font{
  font-size: 25px;
  cursor: pointer;
  outline: none;
}

.spinner{
  font-size: 50px;
  position: absolute;
  right:1361px;
  bottom: 600px;
  top: 300px;
  left:860px;
}

a,
u {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: var(--normal-font-size);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* --- Color --- */
  --input-color: #80868b;
  --border-color: #dadce0;
}

/* --- Form --- */
.wrapper-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form {
  width: 400px;
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}
.form__title {
  font-weight: 600;
  margin-bottom: 3rem;
}
.form__div {
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
}
.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  outline: none;
  padding: 0 1rem;
  background: none;
  z-index: 1;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  height: 48px;
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
}
.react-datepicker__input-container input {
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
}

.react-datepicker__input-container input:focus {
  border: 1.5px solid var(--secondary-color);
}


.date-picker__label {
  position: absolute;
  left: 1rem;
  top: -10px;
  padding: 0 0.25rem;
  background-color: #fff;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: 0.3s;
}


.form__label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 0.25rem;
  background-color: #fff;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: 0.3s;
}

.btn {
  display: block;
  margin-left: auto;
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  background-color: var(--secondary-color);
  color: #fff;
  font-size: var(--small-font-size);
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
  opacity: 0.8;
}

/* Input focus move up label */
.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  color: var(--secondary-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

/* Input focus sticky top label */
.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  /* font-size: var(--small-font-size); */
  font-weight: 500;
  z-index: 10;
}

/* Input focus */
.form__input:focus {
  border: 1.5px solid var(--secondary-color);
}

.form__validation {
  color: red;
  font-size: var(--small-font-size);
}
