@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  /* --- Color --- */
  --primary-color: #003147;
  --hover-nav-color: #005983;

  /* --- Width --- */
  --nav-width: 320px;
  --icon-field-size: 60px;

  /* --- Font size --- */
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}

/* --- Base --- */
*,
::before,
::after {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: var(--normal-font-size);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
